$overlay-color: "#fff";

.button-hover-effect {
    transition: all 0.25s linear 0s;

    &:before {
        content: "\f054";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 30px;
        background-color: rgba(#fff, 0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0, 1);
        transform-origin: left center;
        transition: all 0.25s linear 0s;
    }

    &:hover {
        text-indent: 30px;

        &:before {
            transform: scale(1, 1);
            text-indent: 0;
        }
    }
}
